---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Privacy Policy | World Mind Care</title>
    <link rel="icon" href="/wmc-logo-old.webp" type="image/webp" sizes="16x16" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Privacy Policy | World Mind Care" name="description" />
    <meta content="" name="keywords" />
    <meta content="" name="author" />
    <link href="/wmc/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap" />
    <link href="/wmc/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/wmc/css/swiper.css" rel="stylesheet" type="text/css" />
    <link href="/wmc/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/wmc/css/coloring.css" rel="stylesheet" type="text/css" />
    <link id="colors" href="/wmc/css/colors/scheme-01.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      header div#logo img {
        height: 80px;
        width: auto;
      }
      #de-subheader {
        margin-top: 100px;
      }
      header .de-flex {
        padding-top: 6px;
        padding-bottom: 6px;
      }
      #mainmenu > li > a.menu-item {
        font-size: 16px;
        color: #000;
      }
      header .h-phone span {
        font-size: 16px;
        color: #000;
      }
      @media (max-width: 991px) {
        header div#logo img {
          height: 40px;
        }
        #de-subheader {
          margin-top: 80px;
        }
        header.header-mobile {
          background: rgb(90, 158, 124) !important;
        }
        header .h-phone span {
          font-size: 12px;
          color: #000;
        }
        header .menu_side_area {
          width: 100%;
          display: flex;
          justify-content: center;
        }
        header .h-phone {
          margin: 8px auto 0;
          justify-content: center;
          width: 100%;
        }
        header #menu-btn,
        header #menu-btn:before,
        header #menu-btn:after {
          background: #000;
        }
        header.header-mobile #mainmenu li a.menu-item,
        header.header-mobile #mainmenu li a.menu-item:after,
        header.header-mobile #mainmenu li.has-child:after {
          color: #000;
        }
        header.header-mobile #mainmenu > li.menu-item-has-children > a.menu-item:after {
          content: "\f107";
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          color: #000;
        }
        header.header-mobile #mainmenu > li > span,
        header.header-mobile #mainmenu li > ul > li > span,
        header.header-mobile #mainmenu li span.active {
          color: #000;
        }
        header.header-mobile #mainmenu > li > span {
          background: url(/wmc/images/ui/arrow-down.png) center no-repeat;
        }
        header.header-mobile #mainmenu li span.active {
          background: url(/wmc/images/ui/arrow-up.png) center no-repeat;
        }
        header.header-mobile #mainmenu {
          display: none;
        }
        header.header-mobile.menu-open #mainmenu {
          display: block;
        }
      }
      @media (max-width: 767px) {
        header .logo-main,
        header .logo-scroll {
          display: none;
        }
        header.smaller.scroll-light .logo-scroll {
          display: none;
        }
        header .logo-mobile {
          display: block;
        }
      }
    </style>
  </head>

  <body>
    <div id="wrapper">
      <div class="float-text show-on-scroll">
        <span><a href="#top">Scroll to top</a></span>
      </div>
      <div class="scrollbar-v show-on-scroll"></div>

      <div id="de-loader"></div>

      <header class="transparent scroll-light has-topbar">
        <div id="topbar">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="d-flex justify-content-between xs-hide">
                  <div class="header-widget d-flex">
                    <div class="topbar-widget">
                      <a href="#top"><i class="icofont-location-pin"></i>100 S Main St, Los Angeles, CA</a>
                    </div>
                    <div class="topbar-widget">
                      <a href="#top">
                        <i class="icofont-clock-time"></i>
                        <span>Mon - Sat: 8AM - 9PM</span>
                        <span class="ms-3">Sunday: 10AM - 8PM</span>
                      </a>
                    </div>
                    <div class="topbar-widget">
                      <a href="#top"><i class="icofont-envelope"></i>workingritanshu@gmail.com</a>
                    </div>
                  </div>

                  <div class="social-icons">
                    <a href="#top"><i class="fa-brands fa-facebook fa-lg"></i></a>
                    <a href="#top"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
                    <a href="#top"><i class="fa-brands fa-youtube fa-lg"></i></a>
                    <a href="#top"><i class="fa-brands fa-pinterest fa-lg"></i></a>
                    <a href="#top"><i class="fa-brands fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="de-flex sm-pt10">
                <div class="de-flex-col">
                  <div id="logo">
                    <a href="/">
                      <img class="logo-main" src="/wmc-logo.webp" alt="" />
                      <img class="logo-scroll" src="/wmc-logo.webp" alt="" />
                      <img class="logo-mobile" src="/wmc-logo.webp" alt="" />
                    </a>
                  </div>
                </div>
                <div class="de-flex-col header-col-mid">
                  <ul id="mainmenu">
                    <li><a class="menu-item" href="/">Home</a></li>
                    <li>
                      <a class="menu-item" href="/#services">Services</a>
                      <ul>
                        <li><a class="menu-item" href="/our-services">Individual Counseling</a></li>
                        <li><a class="menu-item" href="/our-services#couples-counseling">Relationship &amp; Family Counseling</a></li>
                        <li><a class="menu-item" href="/our-services#career-life-guidance">Career &amp; Life Guidance</a></li>
                        <li><a class="menu-item" href="/our-services#stress-emotional-management">Stress &amp; Emotional Management</a></li>
                        <li><a class="menu-item" href="/our-services#anxiety-fear-healing">Anxiety &amp; Fear Healing</a></li>
                        <li><a class="menu-item" href="/our-services#depression-emotional-healing">Depression &amp; Emotional Healing</a></li>
                      </ul>
                    </li>
                    <li><a class="menu-item" href="/about">About Us</a></li>
                    <li><a class="menu-item" href="/#faqs">FAQs</a></li>
                  </ul>
                </div>
                <div class="de-flex-col">
                  <div class="menu_side_area">
                    <a class="btn-main me-3" href="/appointment">Make Appointment</a>
                    <a
                      class="h-phone xs-hide"
                      href="https://api.whatsapp.com/send?phone=917999609202"
                      style="display: flex; align-items: center; gap: 8px;"
                      target="_blank"
                      rel="noopener"
                    >
                      <img src="/whatsapp-logo.png" alt="WhatsApp" style="height: 20px; width: 20px;" />
                      <span>+91 7999609202</span>
                    </a>
                    <span id="menu-btn"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div id="content" class="no-top no-bottom">
        <div id="top"></div>

        <section id="de-subheader" class="mt-sm-60 pt20 pb20 bg-gradient-45-deg text-light">
          <div class="container relative z-index-1000">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h3 class="mb-0">Privacy Policy</h3>
              </div>

              <div class="col-lg-6 text-lg-end">
                <ul class="crumb">
                  <li><a href="/">Home</a></li>
                  <li class="active">Privacy Policy</li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row g-4">
              <div class="col-lg-10 offset-lg-1">
                <div class="subtitle wow fadeInUp mb-3">Your Privacy Matters</div>
                <h2 class="wow fadeInUp">Privacy Policy</h2>
                <p class="lead wow fadeInUp">
                  This policy explains how World Mind Care collects, uses, and protects information submitted through this
                  website. By using the site or submitting a form, you agree to this policy.
                </p>

                <h4 class="mt-4">Information We Collect</h4>
                <p>
                  We collect information you provide directly, such as your name, email, phone number, preferred service,
                  and any message you choose to share when you submit an appointment request or inquiry.
                </p>

                <h4 class="mt-4">How We Use Information</h4>
                <p>
                  Information is used to respond to your inquiry, schedule services, and communicate about appointments.
                  We do not sell or rent your personal information.
                </p>

                <h4 class="mt-4">Confidentiality</h4>
                <p>
                  We handle information with care and in line with professional ethics and applicable laws. Please avoid
                  sharing highly sensitive details in website forms if you are uncomfortable doing so.
                </p>

                <h4 class="mt-4">Online Communication</h4>
                <p>
                  Messages submitted through the website are transmitted electronically. While we take reasonable steps to
                  protect your information, no online system can be guaranteed 100 percent secure.
                </p>

                <h4 class="mt-4">Third-Party Services</h4>
                <p>
                  We may use third-party tools to receive form submissions or improve site functionality. These providers
                  process data only as needed to deliver their services.
                </p>

                <h4 class="mt-4">Your Choices</h4>
                <p>
                  You may request an update or deletion of your contact information by reaching out to us using the contact
                  details below.
                </p>

                <h4 class="mt-4">Updates to This Policy</h4>
                <p>
                  We may update this policy periodically. Changes will be posted on this page.
                </p>

                <h4 class="mt-4">Contact</h4>
                <p class="mb-0">
                  If you have privacy-related questions, contact us at <strong>workingritanshu@gmail.com</strong>.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>

      <footer class="footer-light">
        <div class="container relative z-1000">
          <div class="row gx-5">
            <div class="col-lg-4 col-sm-6">
              <p>
                <strong class="id-color-2">World Mind Care</strong> offers personalized psychological counseling blended
                with mindfulness and inner awareness. Each session is conducted with care, confidentiality, and a deep
                respect for the individual's emotional journey.
              </p>
              <p>
                Support is provided in a safe, non-judgmental space to help you gain clarity, balance, and inner strength.
              </p>
            </div>
            <div class="col-lg-4 col-sm-12 order-lg-1 order-sm-2">
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="widget">
                    <h5>Quick Links</h5>
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/#top">About World Mind Care</a></li>
                      <li><a href="/#services">Services</a></li>
                      <li><a href="/appointment">Book a Session</a></li>
                      <li><a href="/#faqs">FAQs</a></li>
                      <li><a href="/#top">Contact</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="widget">
                    <h5>Services</h5>
                    <ul>
                      <li><a href="/our-services">Individual Counseling</a></li>
                      <li><a href="/our-services#couples-counseling">Relationship Counseling</a></li>
                      <li><a href="/our-services#career-life-guidance">Career Guidance</a></li>
                      <li><a href="/our-services#stress-emotional-management">Stress Management</a></li>
                      <li><a href="/our-services#anxiety-fear-healing">Anxiety Support</a></li>
                      <li><a href="/our-services#depression-emotional-healing">Depression Support</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 order-lg-2 order-sm-1">
              <div class="widget">
                <div class="fw-bold text-dark">
                  <i class="icofont-clock-time me-2 id-color"></i>Opening Hours
                </div>
                Mon - Sat : 10AM - 5PM
                <br />
                Sunday : 3PM - 5PM

                <div class="spacer-20"></div>

                <div class="fw-bold text-dark">
                  <i class="icofont-location-pin me-2 id-color"></i>Center Location
                </div>
                1, Shiv Kutir, Opp. Limbodi Gate, Khandwa Road, Indore, MP 452001
              </div>
            </div>
          </div>
        </div>
        <div class="subfooter relative z-1000">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="de-flex-col">
                  Copyright 2025 - World Mind Care
                </div>
              </div>
              <div class="col-md-6 text-lg-end">
                <div class="social-icons mb-sm-30">
                  <div class="widget">
                    <ul class="mb-0">
                      <li><a href="/terms">Terms &amp; Conditions</a></li>
                      <li><a href="/privacy">Privacy Policy</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <div id="preloader">
      <div class="preloader1"></div>
    </div>

    <script is:inline defer src="/wmc/js/plugins.js"></script>
    <script is:inline defer src="/wmc/js/designesia.js"></script>
    <script is:inline defer src="/wmc/js/swiper.js"></script>
    <script is:inline defer src="/wmc/js/custom-marquee.js"></script>
  </body>
</html>
